
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Message history in chatter emails</h2>
        </div>
        <p>
        The module introduces two additional messaging options in the chatter area of Odoo forms.
 "Send a message" and "Log an Internal Note" are the messaging options available by default.
 The new options "Answer" and "Answer without attachment" allows user to send messages by including 
  the entire history of communications associated with the record, just like a regular email thread which 
  quotes previous communication history at the bottom
 </p>
        
        <div class="oe_span11">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="bt_message_history_chatter1.png">
            </div>
        </div>
     
     <p class='oe_span4 oe_mt32'>
	"Answer" option loads all previous communications to the message compose window, under the string "Message History" after the signature part of the compose form. It also loads all attachments associated with the record.
	</p>
	
     
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="bt_message_history_chatter2.png">
            </div>
        </div>
       
	
	
    <p class='oe_mt32 oe_span12'>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        
	
    </div>
</section>